@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Bai Jamjuree", sans-serif;
}

/* Primeira seção */
#first-section{
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#first-section img{
    padding-top: 120px;
    padding-bottom: 30px;
    width: 150px;
}

#first-section h1{
    color: hsl(210, 10%, 33%) ;
    font-size: 55px;
    font-weight: 600;
}

#first-section p{
    width: 900px;
    padding-bottom: 50px;
    text-align: center;
    word-wrap: normal;
    color: hsl(201, 11%, 66%);
    font-size: 26px;
    font-weight: 400;
}

.bottom {
    display: flex;
    margin-bottom: 115px;
    flex-direction: row;
    gap: 50px;
}
.bottom a {
    text-decoration: none;
    padding: 15px;
    font-size: 22px;
}

#bottom-iOS{
    background-color: hsl(171, 66%, 44%);
    color: #ffff;
    font-weight: 600;
    border-radius: 50px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 1px 5px 1px hsl(171, 40%, 45%);
    
}

#bottom-Mac{
    background-color: hsl(233, 100%, 69%);
    color: #ffff;
    font-weight: 600;
    border-radius: 50px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 1px 5px 1px hsl(233, 86%, 60%);
    
}


/* Segunda seção */


/*Texto*/
#second-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#second-section-text h1{
    flex-direction: row;
    color: hsl(210, 10%, 33%);
    font-size: 35px;
    font-weight: 600;
}

#second-section-text p{
    width: 643px;
    line-height: 1.8;
    padding-bottom: 50px;
    text-align: center;
    word-wrap: normal;
    color: hsl(201, 11%, 66%);
    font-size: 16px;
    font-weight: 400;
}



/* Conteudo*/
#features-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#features-content img{
    width: 530px;
}

#content {  
    margin: 70px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#content h2{
    color: hsl(210, 10%, 33%);
    font-size: 22px;
    font-weight: 600;
}

#content p{
    width: 400px;
    color: hsl(201, 11%, 66%);
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

/*Terceira seção */

#third-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;


}

#third-section h1{
    color: hsl(210, 10%, 33%);
    font-size: 35px;
    font-weight: 600;
}

#third-section p{
    width: 600px;
    padding-top: 25px;
    padding-bottom: 80px;
    color: hsl(201, 11%, 66%);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.8;
}


#third-section img{
    width: 800px;
}


/*Quarta seção*/

#fourth-section{
   display: flex;
   flex-direction: row; 
}